@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">LFJ HOSPITAL</h1>
        <p class="lead">Welcome to the official website of LFJ HOSPITAL!!!</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="DoctorsTitle">
            <h2 id="DTitle">Doctors?</h2>
            <p>
                The doctors at LFJ hospital are committed to providing you help in th best way possible! We respect our doctors and the noble job they perform!
            </p>
            <p><a class="btn btn-outline-dark" href="~/Doctors/Index">DOCTORS AT LFJ &raquo;</a></p>
            
          
            
            
        </section>
        <section class="col-md-4" aria-labelledby="PatientsTitle">
            <h2 id="PTitle">Patients?</h2>
            <p>We, at LFJ, hold our patients in high esteem so we have stored this record for you!</p>
            <p><a class="btn btn-outline-dark" href="~/Patients/Index">PATIENTS AT LFJ &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="AppointmentsTitle">
            <h2 id="ATitle">Appointments?</h2>
            <p>You can easily find your appointmnet or get one booked using our user-firendly website.</p>
            <p><a class="btn btn-outline-dark" href="~/Appointments">APPOINTMENTS AT LFJ &raquo;</a></p>
        </section>
    </div>
</main>